:root {
  --dark-color-primary: #5352ac;
  --dark-color-secondary: #7371d3;
  --light-color: #eee;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

.chat-container {
  background-color: royalblue;
  width: 80%;
  margin: 50px auto;
}

.chat-header {
  background-color: var(--dark-color-primary);
  color: #fff;
  justify-content: space-between;
  display: flex;
}

.chat-logo {
  margin-left: 20px;
}

.btn {
  align-self: center;
  height: 26px;
  margin-right: 20px;
}

.chat-main {
  display: flex;
  background-color: var(--dark-color-secondary);
}

.chat-sidebar {
  padding: 10px;
  color: #fff;
  width: 22%;
}

.rooms {
}

.users {
}

.message-container {
  background-color: #eee;
  width: 78%;
  padding: 10px;
  overflow-y: scroll;
  height: 60vh;
}

.chat-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-color-primary);
  height: 40px;
}

.input {
  height: 30px;
  width: 200px;
}

.text-name {
  font-weight: 700;
  color: royalblue;
}

.time {
  color: grey;
  font-size: 12px;
}

.message:not(:last-child) {
  border-bottom: 1px solid gray;
}

.input-name {
}
.input-msg {
}
